<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shuandr | graphic design & web development</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XC15Q9DTE1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XC15Q9DTE1');
</script>
    <meta name="description" content="графічний та веб-дизайн, брендінг, упаковка, верстка журналів та каталогів, медалі, соціальні мережі, комплексний дизайн для малого бізнесу">
    <meta name="keywords" content="website design, branding, editorial, SMM, medals, дизайн, розробка логотипу, брендінг, упаковка, етикетка, верстка видань та каталогів">
    <meta property="og:title" content="shuandr | graphic design & web development" />
    <meta property="og:description" content=" " />
    <meta property="og:image" content="https://shuandr.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shuandr.lviv.ua/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="application-name" content="shuandr design">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8ca0b4">
    <meta name="msapplication-TileColor" content="#8ca0b4">
    <meta name="theme-color" content="#8ca0b4">
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" ng-app="shuDesign" ng-controller="shuDesignCtrl" ng-keyup="key($event)" tabindex="1">
        <div class="shu-bg-full"></div>
        <div id="preloader" class="grid-x shu-bg align-center-middle">
            <div class="cell" id="pre-logo">
                <img src="assets/img/shu-logo.svg" alt="">
            </div>
        </div>
        <header>
            <div ng-show="mainView" class="lang-select s-bold" ng-click="changeLang()">{[{setLang}]}</div>
            <a href="#!/main" ng-show="!mainView" class="lang-select s-bold"><i class="fas fa-arrow-left "></i></a>
            <div id="top" class="grid-x shu-header white-bg align-center-middle dark">
                <div class="cell  auto text-right ">
                    <div class="pre ">{[{data.title}]}</div>
                </div>
                <div class="cell shrink text-center">
                    <div class="main-logo ">
                        <a href=" "><img src="assets/img/shu-logo.svg" alt="на головну"></a>
                    </div>
                </div>
                <div class="cell auto show-for-medium ">
                    <a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a>
                    <a href="viber://chat?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a>
                    <br>{[{data.schedule}]}
                </div>
            </div>
        </header>
        <div class="shu-header shu-sticky shu-bg align-center-middle">
            <ul class="menu align-center ">
                <li class="shu-menu white-bg" ng-repeat="cat in data.cats" ng-click="selectCat(cat.id)">{[{cat.name}]}</li>
            </ul>
        </div>
        <main ng-view class="main"></main>
        <br><br>
        <footer>
            <div class="grid-x align-center">
                <div class="cell large-8">
                    <div class="grid-x grid-padding-x text-center align-middle">
                        <div class="cell medium-6">
                            <a href="mailto:{[{data.email}]}"> {[{data.email}]}</a><br>
                        </div>
                        <div class="cell medium-6">
                            <a class="tel" href="tel://{[{data.tel1}]}"><i class="fas fa-phone-square"></i> {[{data.telView1}]}</a>
                            <a href="viber://add?number={[{data.vbr}]}"><i class="fab fa-viber fa-2x viber"></i></a><br>{[{data.schedule}]}
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
    
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>