<!-- ng-view -->
 <slick settings="mainSlickConfig">
     <div ng-repeat="slide in projects | filter: heroCat">
         <a href="#/project" class=" white-bg" ng-click="selectProject(slide)">
             <div class="hero-slider" style="background-image: url(assets/img/{[{slide.heroImg}]})">
                 <div class="grid-x" style="height: 28%;">
                     <div class="cell align-self-middle">
                         <h4 class="pre uppercase white text-center" style="line-height: 1.25">{[{slide.heroTitle}]}</h4>
                     </div>
                 </div>
             </div>
         </a>
     </div>
 </slick><br>
 <ul class="menu align-center " style="margin-bottom: 1.2rem;">
     <li class="shu-menu white-bg dark" ng-repeat="cat in data.cats" ng-click="selectCat($index)" ng-class="{menuCatSel: $index == menuCatSel}">
         {[{cat.name}]}
     </li>
     <li class="shu-menu dark-bg white sort-btn" ng-click="sort('year')">
         <i class="far fa-calendar-alt " style="font-size: 1.5rem; "></i>&nbsp;
         <i class="toggle fas fa-sort-amount-down-alt" style="font-size: 1.2rem; line-height: 1.5rem;"></i>
     </li>
 </ul>
 <div id="projects"  class="grid-container">
     <div class="grid-x grid-padding-x  small-up-1 medium-up-2 large-up-3" data-equalizer data-equalize-by-row="true">
         <div class="cell " ng-repeat="proj in projects | filter: selectedCat | orderBy:sortKey:reverse ">
             <div class="card " data-equalizer-watch>
                 <a href="#/project" class=" white-bg" ng-click="selectProject(proj)">
                     <img src="assets/img/preview/{[{proj.imgPreview}]}" alt="">
                     <div class="grid-x card-section ">
                         <div class="cell ">
                             <div class="text-center dark pre">{[{proj.title}]}</div><br>
                             <div class="text-right shu-0">{[{proj.year}]}</div>
                         </div>
                     </div>
                 </a>
             </div>
         </div>
     </div>
 </div>
