<!-- ng-view -->
 <br>
 <div id="projects" class="grid-container" >
     <div class="grid-x align-center ">
         <div class="large-9 cell">
             <h4 class="text-center pre">{[{selectedProject.title}]} </h4><br>
         </div>
         <div class="cell large-9 ">
             <div class="card white-bg big-shadow ">
                 <div ng-repeat="img in selectedProject.imgs ">
                     <img src="assets/img/{[{img}]}" alt="{[{selectedProject.title}]}">
                 </div>
                 <div ng-show="selectedProject.extLink" class=" text-center"><br>
                     <a type="button" href="{[{selectedProject.extLink}]}" target="_blank" class="hollow large button s-bold"><i class="fas fa-globe-americas "></i> {[{selectedProject.extLinkView}]}</a><br><br>
                 </div>
             </div>
         </div>
     </div>
     <div class="grid-x ">
         <div class="cell text-center">
             <button ng-click="prevProject()" type="button" class=" button  "><i class="fas fa-arrow-left fa-2x"></i></button>
             <button ng-click="nextProject()" type="button" class=" button "><i class="fas fa-arrow-right fa-2x"></i></button>
         </div>
     </div><br><br>
 </div>
