<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shuandr | graphic design & web development</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XC15Q9DTE1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XC15Q9DTE1');
</script>
    <meta name="description" content="графічний та веб-дизайн, брендінг, упаковка, верстка журналів та каталогів, медалі, соціальні мережі, комплексний дизайн для малого бізнесу">
    <meta name="keywords" content="website design, branding, editorial, SMM, medals, дизайн, розробка логотипу, брендінг, упаковка, етикетка, верстка видань та каталогів">
    <meta property="og:title" content="shuandr | graphic design & web development" />
    <meta property="og:description" content=" " />
    <meta property="og:image" content="https://shuandr.lviv.ua/og-img.jpg">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://shuandr.lviv.ua/" />
    <link rel="stylesheet" href="assets/css/app.css">
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="application-name" content="shuandr design">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#8ca0b4">
    <meta name="msapplication-TileColor" content="#8ca0b4">
    <meta name="theme-color" content="#8ca0b4">
     <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <script src="https://kit.fontawesome.com/0caeff61d9.js" crossorigin="anonymous"></script>
</head>

<body>
    <br>
    <div class="grid-container" >
        <div class="grid-x align-center ">
            <div class="large-9 cell">
                <h4 class="text-center pre">{[{selectedProject.title}]} </h4><br>
            </div>
            <div class="cell large-9 ">
                <div class="card white-bg big-shadow ">
                    <div ng-repeat="img in selectedProject.imgs ">
                        <img src="assets/img/{[{img}]}" alt="{[{selectedProject.title}]}">
                    </div>
                    <div ng-show="selectedProject.extLink" class=" text-center"><br>
                        <a type="button" href="{[{selectedProject.extLink}]}" target="_blank" class="hollow large button s-bold"><i class="fas fa-globe-americas "></i> {[{selectedProject.extLinkView}]}</a><br><br>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-x ">
            <div class="cell text-center">
                <button ng-click="prevProject()" type="button" class=" button  "><i class="fas fa-arrow-left fa-2x"></i></button>
                <button ng-click="nextProject()" type="button" class=" button "><i class="fas fa-arrow-right fa-2x"></i></button>
            </div>
        </div><br><br>
    </div>
    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-animate.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
    <script src="assets/js_plugins/myAngular.js"></script>
    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="assets/js_plugins/angular-slick.js"></script>
</body>

</html>